<?php
    'dbtype'        => 'pgsql',
    'dbname'        => "${nc_db_name}',
    'dbuser         => '${nc_db_user}',
    'dbpassword'    => '${nc_db_password}',
    'dbhost'        => '${nc_db_host}',
    'dbtableprefix' => '${nc_db_tableprefix},
?>